
h1 {
  font-size: 2em;
  text-align: center;
}
/* I had to add this because the labels were overlapping the text fields ??*/
input {
  margin-top: 20px !important;
}
textarea {
  height: 150px;
}
button {
  margin-top: 25px;
}
#searchBtn {
  margin-right: 5%;
}
